services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: miniemr-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong(!)Password
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - miniemr_sql_data:/var/opt/mssql

volumes:
  miniemr_sql_data:
